.body,
.mui-content {
	background-color: #1c0d62;
}

.banner {
	width: 100%;
}

.headerFixed {
	background-color: transparent;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: unset;
	padding: 10px;
	position: absolute;
}
.rule_right{
	text-align: right;
	position: relative;
}
.rule_img{
	width: 50px;
    height: auto;
    top: -30px;
    position: absolute;
    right: 0px;
}
.top_logo {
	display: flex;
}

.logo_img {
	width: 98px;
	height: 25px;
	border-right: 1px solid #fff;
	padding-right: 12px;
}

.logo_img:last-child {
	padding-left: 12px;
}

.logo_img:last-child {
	border: none;
}

.flex_layout {
	display: flex;
	align-items: center;
	padding: 0 5px;
}

.box_row {
	border-radius: 0 10px 10px 10px;
	background: linear-gradient(to bottom, #fdfeff, #cbdaff);
	margin: 15px 12px;
	position: relative;
	top: -16px;
	height: 170px;
}

.mui-col-sm-5 {
	text-align: center;
}

.left_title {
	background-color: #ff1412;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	width: 80px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	border-radius: 0 0 17px 0;
}

.left_img {
	width: 110px;
	height: auto;
	padding-left: 5px;
}

.right_item {
	padding-left: 10px;
}

.right_title {
	font-size: 17px;
	font-weight: bold;
	color: #1c0d62;
}

.right_title span {
	color: #ff4341;
	padding-left: 3px;
}

.right_price {
	margin: 20px 0;
}

.right_price .price {
	color: #ff6f20;
	font-weight: bold;
	font-size: 16px;
	text-decoration: line-through;
}

.right_price .large_box {
	background-color: #ff4341;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	padding: 10px;
	margin-left: 10px;
}

.right_type {
	font-size: 14px;
	color: #1c0e63;
}

.right_type span {
	padding: 0 5px;
	border-right: 1px solid #1c0e63;
}

.right_type span:last-child {
	border: none;
}

.third_box {
	height: 240px;
}

.third_layout {
	text-align: center;
}

.center_title {
	font-size: 28px;
	color: #1c0d62;
	font-weight: bold;
}

.center_sub_title {
	font-size: 14px;
	color: #ff6f20;
	font-weight: bold;
}

.table_border {
	font-size: 15px;
	font-weight: bold;
	background-color: #fff;
	margin: 0 10px;
	width: 94%;
	border-radius: 8px 8px 0 0;
	color: #131313;
}

.table_border td,
.table_border th {
	padding: 6px 0;
	font-size: 13px;
	border-color: #d5e1ff;
	border-style: solid;
	border-width: 0 1px 1px 0;
}

.table_border th {
	background-color: #ff4341;
	color: #fff;
	border-color: #d5e1ff;
	border-style: solid;
}

.table_border th:first-child {
	border-radius: 8px 0 0 0;
}

.table_border th:last-child {
	border-radius: 0 8px 0 0;
}


/*特权*/

.border_row {
	text-align: center;
	position: relative;
	top: -6px;
}

.border_row .border_top {
	position: relative;
	z-index: 2;
	background-position: center;
}

.border_top .top_img {
	position: absolute;
	height: auto;
	left: -4px;
	top: -20px;
	max-height: 280px;
}

.border_top .float_box {
	position: relative;
	top: 10px;
}

.border_top p {
	margin-bottom: 5px;
}

.border_title {
	color: #fff;
	font-size: 30px;
	padding: 10px 5px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center
}

.border_title span {
	border-radius: 5px;
	font-size: 14px;
	color: #704d0e;
	margin-left: 5px;
	width: 56px;
	line-height: 16px;
	padding: 5px 0;
	display: inline-block;
	background: linear-gradient(to right, #efc476, #f9d895);
}

.border_row .border_price {
	color: #ff4644;
	font-size: 16px;
	font-weight: bold;
	display: flex;
	align-items: baseline;
	justify-content: center;
}

.border_row .border_price span {
	font-size: 30px;
}

.border_top .border_top_img {
	width: 320px;
	height: auto;
}

.border_row .border_bottom {
	background-color: #fff;
	height: 250px;
	margin: 10px;
	position: relative;
	top: -40px;
	z-index: 1;
	border-radius: 0 0 14px 14px;
}
.border_bottom .submit_form{
	padding: 80px 20px 20px;
}
.layout_box{
	position: relative;
}
.border_bottom .input_group{
	background: #1c0d62;
    border-radius: 6px;
    font-size: 15px;
    color: #635d89;
}
.border_bottom .receiveCode_btn{
	background: linear-gradient(to bottom,#5054c2,#222189);
	border-radius: 6px;
    color: #fff;
    border: none;
    font-size: 12px;
    position: absolute;
    right: 5px;
    top: 5px;
}
.border_bottom .submit_btn{
	background: linear-gradient(to bottom ,#fe5a58, #e7110f);
	border: none;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
	border-radius: 6px;
	box-shadow: 0px 6px 0px #c81413;
}
/*公共border*/

.banner_row,
.eye_row,
.hy_row {
	margin: 10px;
	border: 10px solid #4e51c4;
	border-radius: 16px;
	position: relative;
}


/*长屏幕banner*/

.banner_row {
	top: -50px;
	background-color: #211f85;
}

.banner_item {
	margin: 10px 0;
}

.banner_item:last-child {
	margin-bottom: 0;
}

.banner_item .flex_layout {
	display: flex;
	align-items: center;
	justify-content: center;
}

.banner_item .flex_layout .circle_img {
	width: 70px;
	height: auto;
}

.banner_item .flex_layout .circle_img.camera_img {
	width: 90px;
}

.banner_item .banner_title {
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 30px;
	margin: 25px 0 20px;
}

.banner_item .add {
	color: #fff;
	font-size: 40px;
	margin: 0 10px;
	font-weight: bold;
}

.banner_item .bg_circle {
	background-color: #4e51c4;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.banner_item .banner_sub_title {
	color: #ed7978;
	font-size: 24px;
	letter-spacing: 3px;
	font-weight: bold;
	text-align: center;
}

.banner_item .banner_img {
	height: auto;
	display: block;
}

.banner_item .banner_img.last_img {
	border-radius: 9px;
}


/*VR眼镜*/

.eye_row {
	top: -50px;
	background-color: #000;
	padding-bottom: 20px;
}

.eye_row .eye_img {
	display: block;
	height: auto;
	border-radius: 10px 10px 0 0;
}

.eye_content .eye_title {
	font-size: 24px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	padding: 15px 0;
}

.eye_content .eye_list {
	color: #ffffffd9;
	font-size: 12px;
	text-align: center;
	padding: 12px 3px;
}

.eye_content .eye_icon {
	float: left;
	padding: 5px;
	height: 60px;
}

.eye_content .eye_icon .icon_img {
	width: 20px;
	height: 20px;
}

.eye_content .eye_icon p {
	font-size: 12px;
	color: #ffffffeb;
}


/*会员特权*/

.hy_row {
	top: -50px;
	background-color: #201f87;
	padding: 20px 5px;
	text-align: center;
}

.hy_row.vip_row {
	top: -50px;
	margin-bottom: 40px;
}

.hy_row .hy_logo {
	width: 150px;
	height: auto;
	margin-bottom: 10px;
}

.hy_row .hy_logo.vip_logo {
	width: 80px;
}

.hy_row .hy_title {
	font-size: 26px;
	color: #fff;
	letter-spacing: 5px;
	font-weight: bold;
}

.hy_row .hy_title.vip_title {
	font-size: 24px;
}

.hy_list {
	padding-top: 15px;
}

.hy_list .hy_item .img_flex {
	background: linear-gradient(to bottom, #5358c8, #6c7ee2);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 10px;
	margin-bottom: 6px;
	width: 60px;
	height: 60px;
}

.hy_item .img_flex.vip_img_flex {
	background: linear-gradient(to bottom, #eed09c, #e3be84);
}

.hy_list .hy_item .hy_icon {
	width: 35px;
	height: auto;
}

.hy_list .hy_item .hy_icon.small_icon {
	width: 29px;
}

.hy_list .hy_item .hy_info {
	font-size: 12px;
	color: #ffffffbf;
	padding: 10px 0;
}


/*漂浮物*/
.float_img_left{
	position: absolute;
    width: 100px;
    height: auto;
    left: -20px;
    top: -66px;
}
.float_img_left.left_01{
	z-index: 3;
	top: -35px;
	width: 150px;
}
.float_img_right{
	position: absolute;
    width: 90px;
    height: auto;
    right: -20px;
    top: -35px;
    z-index: 0;
}
.float_img_right.float_right_01{
	width: 80px;
	top: -60px;
}

/*底部立即体验*/
.bottom_row{
	background: linear-gradient(to bottom, #4da9ff,#5147fe);
	padding: 15px 10px;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
}
.bottom_row .bottom_left p{
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	letter-spacing: 2px;
	margin-bottom: 3px;
}

.bottom_row .experience_btn{
	width: 100%;
	text-align: center;
	border: none;
	letter-spacing: 2px;
	background: linear-gradient(to bottom ,#ffe1ad,#e4bd82);
	border-radius: 6px;
	font-size: 20px;
	font-weight: bold;
	color: #ae5616;
	box-shadow: 0 6px 0 #ca9843;
	display: flex;
	align-items: center;
	justify-content: center;
}
.bottom_row .role{
	width: 0;
    height: 0;display: inline-block;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid #ae5616;
    margin-left: 2px;
}
@media only screen and (max-width: 320px) {
	.border_bottom .submit_form{
		padding-top: 70px;
	}
	.right_title {
		font-size: 15px;
	}
	.left_img {
		width: 96px;
	}
	.right_type {
		font-size: 12px;
	}
	.border_title {
		font-size: 23px;
	}
	.border_top .border_top_img {
		width: 260px;
	}
	.border_row .border_bottom {
		margin: 9px;
	}
	.banner_item .bg_circle {
		width: 100px;
		height: 100px;
	}
	.banner_item .flex_layout .circle_img {
		width: 55px;
	}
	.banner_item .flex_layout .circle_img.camera_img {
		width: 70px;
	}
	.eye_content .eye_title {
		font-size: 22px;
	}
	.eye_content .eye_icon {
		width: 32%;
	}
	.hy_row .hy_logo {
		width: 130px;
	}
	.hy_row .hy_title {
		font-size: 22px;
	}
	.hy_list .hy_item .img_flex {
		margin: 0 15px !important;
	}
	.hy_list .hy_item .hy_icon {
		width: 25px;
	}
	.hy_list .hy_item .hy_icon.small_icon {
		width: 20px;
	}
	.hy_row .hy_logo.vip_logo {
		width: 70px;
	}
	.hy_row .hy_title.vip_title {
		font-size: 19px;
	}
	.hy_row .hy_item {
		width: 33%;
	}
	.layui-layer{
		width: 280px !important;
		height: 400px !important;
	}
}


/*ipad*/

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.logo_img {
		width: 120px;
		height: 30px;
	}
	.left_img {
		width: 166px;
	}
	.float_img_right{
		width: 120px;
	}
	.border_top .top_img {
		position: absolute;
		min-height: 330px;
		left: -6px;
		top: -20px;
		height: 100%;
	}
	.border_top .border_top_img {
		width: 490px;
	}
	.border_row .border_bottom {
		height: 300px;
		margin: 0 21px;
		top: -50px;
	}
	.border_bottom .submit_form{
		padding-top: 120px;
	}
	.banner_row {
		border-width: 15px;
		margin: 15px;
		border-radius: 25px;
	}
	.banner_item:first-child {
		padding-top: 30px;
	}
	.banner_item .banner_title {
		font-size: 40px;
		margin-bottom: 24px;
	}
	.banner_item .bg_circle {
		width: 150px;
		height: 150px;
	}
	.banner_item .flex_layout .circle_img.camera_img {
		width: 110px;
	}
	.banner_item .flex_layout .circle_img {
		width: 80px;
	}
	.eye_row {
		margin: 20px;
		border-width: 15px;
	}
	.eye_row .eye_img {
		border-radius: 6px;
	}
	.eye_content .eye_icon p {
		font-size: 16px;
	}
	.eye_content .eye_icon {
		height: 70px;
	}
	.eye_content .eye_icon .icon_img {
		width: 28px;
		height: 28px;
	}
	.hy_row {
		margin: 20px;
		border-width: 15px;
		border-radius: 25px;
	}
	.hy_list .hy_item .hy_info {
		font-size: 16px;
	}
	.hy_list .hy_item .hy_icon {
		width: 56px;
	}
	.hy_list .hy_item .hy_icon.small_icon {
		width: 47px;
	}
	.hy_list .hy_item .img_flex {
		margin: 0 10px;
		width: 100px;
		height: 100px;
	}
	.hy_row .hy_title.vip_title {
		font-size: 28px;
	}
	.hy_row .hy_logo.vip_logo {
		width: 110px;
	}
	.float_img_right{
		right: -35px;
	}
	.float_img_left{
		left: -35px;
		top: -90px;
		width: 130px;
	}
	.float_img_right.float_right_01{
		width: 120px;
    	top: -90px;
	}
	.float_img_left.left_01{
		width: 252px;
	}
	.layui-layer{
		width: 500px !important;
		height: 700px !important;
	}
}


/*ipad pro*/

@media only screen and (min-width: 769px) and (max-width: 1024px) {
	.logo_img {
		width: 120px;
		height: 30px;
	}
	.left_img{
		width: 160px;
	}
	.border_top .top_img {
		position: absolute;
		min-height: 275px;
		left: -7px;
		top: -20px;
		height: 100%;
	}
	.border_row .border_bottom {
		margin: 0 27px;
    	left: 2px;
    	top: -60px;
    	height: 300px;
	}
	.border_bottom .submit_form{
		padding-top: 120px;
	}
	.banner_row {
		border-width: 15px;
		margin: 15px;
		border-radius: 25px;
	}
	.banner_item:first-child {
		padding-top: 30px;
	}
	.banner_item .banner_title {
		font-size: 40px;
		margin-bottom: 24px;
	}
	.banner_item .bg_circle {
		width: 150px;
		height: 150px;
	}
	.banner_item .flex_layout .circle_img.camera_img {
		width: 110px;
	}
	.banner_item .flex_layout .circle_img {
		width: 80px;
	}
	.eye_row {
		margin: 20px;
		border-width: 20px;
	}
	.eye_row .eye_img {
		border-radius: 6px;
	}
	.eye_content .eye_icon p {
		font-size: 16px;
	}
	.eye_content .eye_icon {
		height: 70px;
	}
	.eye_content .eye_icon .icon_img {
		width: 28px;
		height: 28px;
	}
	.hy_row {
		margin: 20px;
		border-width: 15px;
		border-radius: 25px;
	}
	.hy_list .hy_item .hy_info {
		font-size: 16px;
	}
	.hy_list .hy_item .hy_icon {
		width: 60px;
	}
	.hy_list .hy_item .hy_icon.small_icon {
		width: 50px;
	}
	.hy_list .hy_item .img_flex {
		margin: 0 10px;
		width: 100px;
		height: 100px;
	}
	.hy_row .hy_title.vip_title {
		font-size: 28px;
	}
	.hy_row .hy_logo.vip_logo {
		width: 110px;
	}
	.float_img_right.float_right_01{
		width: 120px;
    	top: -90px;
	}
	.float_img_right{
		right: -35px;
		width: 150px;
		top: -60px;
	}
	.float_img_left{
		left: -35px;
		top: -90px;
		width: 130px;
	}
	.float_img_left.left_01{
		width: 252px;
	}
	.layui-layer{
		width: 800px !important;
		height: 1000px !important;
	}
}
.layui-layer{
	border: 8px solid #4e51c4;
	border-radius: 12px;
}
.layui-layer-title{
	border:none;
	background-color: transparent;
	text-align: center;
	font-size: 20px;
	padding: 10px 20px 0;
}
.layui-layer-setwin{
	padding: 12px;
	right: -10px;
	top: -15px;
	border-radius: 50%;
	background: linear-gradient(to bottom,#5145ff,#4da6ff);
}
.layui-layer-setwin a{
	margin-left: 0;
}
.layui-layer-setwin .layui-layer-close1 {
    background-position: 2px -38px;
 }